
header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/cityscape-g06498b023_1920.jpg);
    background-size: cover;
     height:100vh;
    background-position: center;
    background-repeat: no-repeat;
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
}

}

#sect1{
    padding: 110px;
}
.content1{
     padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  p {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 40px;
    font-family: Palatino, URW Palladio L,serif;
    font-weight: 200;
}

#sect2{
    padding-bottom:70px;
    padding-left:110px;
    padding-right: 110px;
}
#sect3{
    padding-bottom:70px;
    padding-left:110px;
    padding-right: 110px;
}

.content2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h2{
    text-align: center;
    font-size: 48px;
}
.color{
    color: blue ;
}
.imge img{
    width: 750px;
    height: 450px;
}
.gallery{
    width: 1000px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: blue;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.gallery .box .imgbox{
    position: relative;
    overflow: hidden;
}
.gallery .box .imgbox img{
    max-width: 100%;
    height: 300px;
    transition: transform 2s;
}
.gallery .box:hover .imgbox img{
    transform: scale(1.2);
}




#baredemenu {
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 99;
    position: relative;
    
  }

  h1{margin-top: -14px;
}

  .navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  .navbar li {
    height: auto;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navbar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
    border: none;
  }
  .navbar li:hover,
  a:hover {
  }
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li {
  }
  .navbar li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
  }
  .navbar li ul li a:hover {
    background-color: #a3a1a1;
  }


